---
layout: page
title: Archives by Year
footer: false
---

{% for post in site.posts reverse %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h1>{{ year }}</h1>
{% endunless %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}
