{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
    <header>
        {% include header.html %}
    </header>
    <nav>
        {% include navigation.html %}
    </nav>
    <section class="articles">
        {{ content | expand_urls: root_url }}
    </section>
</body>
</html>
