---
layout: default
---

<article>
            {% if index %}
                <h2>
                    <a href="{{ root_url }}{{ post.url }}">{{ page.title }}</a>
                </h2>
            {% endif %}
  {% include article.html %}
    <footer>
            {% if page.date or page.author %}
                {% if page.author %}
                    <p>{% include post/author.html %}</p>
                {% endif %}
                {% include post/date.html %}<p>{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</p>
            {% endif %}
    </footer>
</article>
