---
layout: post
title: OSX Folder Actions to Move Downloads
date: 2011-10-03 00:37
permalink: /osx-folder-actions-to-move-downloads
comments: false
---
<p>Aaaag, it's so annoying having to add the <em>~GNU/Linux ISO~</em> torrent file I just downloaded to my home server's torrent daemon's auto-start directory. So, I hacked up <a href="/files/Move%20Torrents.scpt">this Folder Action</a> to do it for me automatically.</p>

{% gist 1362655  move-torrent-files-folder-action.applescript %}