{% if index %}
    <h2>
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
{% else %}
    <h2>
        {{page.title}}
    </h2>
{% endif %}

{{ content }}

<footer>
        {% if post.date or post.author %}
            {% if post.author %}
                {% include post/author.html %}
            {% endif %}
            {% include post/date.html %}
            {% if updated %}
                {{ updated }}
            {% else %}
                {{ time class="timeago" }}
            {% endif %}
        {% endif %}
        {% if page.date or page.author %}
                {% if page.author %}
                    <p>{% include post/author.html %}</p>
                {% endif %}
                {% include post/date.html %}<p>{% if updated %}{{ updated }}{% else %}{{ time class="timeago" }}{% endif %}</p>
            {% endif %}
</footer>
