<!DOCTYPE html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
        {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/jquery.timeago.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery("time").timeago();
        });
    </script>
    {% include google_analytics.html %}
</head>
