            <p>
                These are my <a href="/" rel="start">archives</a>.
            </p>
            <p>
                Current stuff is on <a href="http://grantstavely.com">grantstavely.com</a>.
            </p>
            <aside>
                <p>
                    All this old stuff, unless otherwise noted, and excepting the stuff that isn't mine to specifically re-license in the first place (do your homework), is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0</a>.
                </p>
                <p>
                    None of this would be here without <a href="https://github.com/imathis/octopress">octopress</a> and <a href="http://github.com/">github</a>.
                </p>
            </aside>
            <hr />

            {% if site.simple_search %}
            <form action="{{ site.simple_search }}" method="get">
                <input type="hidden" name="q" value="site:archives.grantstavely.com" />
                <input type="search" name="q" results="0" />
            </form>
            {% endif %}

            <p>
                An <a href="/index/">index</a> is available.
            </p>

            {% if index %}
            <p>
                You're on page {{paginator.page}} of {{paginator.total_pages}}.
            </p>
            {% endif %}

            {% if paginator.next_page %}
            <p>
                <a class="prev" href="{{paginator.next_page}}">Older</a> pages are available.
            </p>
            {% endif %}
            {% if paginator.previous_page %}
            <p>
                <a class="next" href="{{paginator.previous_page}}">Newer</a> pages are available.
            </p>
            {% endif %}
            {% if page.previous.url %}
            <p>
                An <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">older</a> post is available.
            </p>
            {% endif %}
            {% if page.next.url %}
            <p>
                A <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">newer</a> post is available.
            {% endif %}
            <hr />
